extends layout

block content
  link(rel='stylesheet', href='/stylesheets/dragList.css')
  script(type="text/javascript" src="/javascripts/controllers/joinGameController.js")
  div(ng-controller="JoinGameController" ng-init="initWithGame(#{JSON.stringify(game)}, #{JSON.stringify(userAttending)}, #{JSON.stringify(userViewing)}, #{JSON.stringify(autoJoin)}, #{JSON.stringify(user)})")
    div#editLineupModal.modal.fade(ng-model="rosterModel")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
            h4.modal-title Edit Lineup
          div.modal-body.dragList
            div.game-grid
              div.game-grid-subhead.push-md Current Roster ({{rosterModel.emptySeats()}}&nbsp;/&nbsp;{{activeGame.seats}} Seats Remaining)
              ul(dnd-list="rosterModel.seatCollection" dnd-disable-if="!rosterModel.emptySeats()")
                li(ng-repeat="seat in rosterModel.seatCollection" dnd-draggable="seat" dnd-effect-allowed="move" dnd-moved="rosterModel.seatCollection.splice($index, 1)") {{seat.user.displayName || seat.name}}
            div.game-grid(ng-show="!rosterModel.emptySeats() || rosterModel.waitlistedPlayers()")
              div.game-grid-subhead.push-md Waitlist
              ul(dnd-list="rosterModel.waitListCollection")
                li(ng-repeat="seat in rosterModel.waitListCollection" dnd-draggable="seat" dnd-effect-allowed="move" dnd-moved="rosterModel.waitListCollection.splice($index, 1)") {{seat.user.displayName || seat.name}}
            div.game-grid
              div.game-grid-subhead.push-md Bench
              ul(dnd-list="rosterModel.bench")
                li(ng-repeat="seat in rosterModel.bench" dnd-draggable="seat" dnd-effect-allowed="move" dnd-moved="rosterModel.bench.splice($index, 1)") {{seat.user.displayName || seat.name}}
              input(type="text", placeholder="Player Name", ng-model="rosterModel.tempPlayerText")
              button.pure-button.button-success.button-small.icon-button(ng-click="rosterModel.add(rosterModel.tempPlayerText)", style="padding-bottom: 8px; margin-left: 10px;")
                span.glyphicon.glyphicon-plus
          div.modal-footer
            button.btn.btn-default(type="button", data-dismiss="modal") Close
            button.btn.btn-primary(type="button", ng-disabled="!rosterModel.valid()") Save changes
    div(ng-if="activeGame")
      div.row
        div.col-md-12
          h2.content-head Game Info
      div.row
        div.col-md-6
          div.game-grid
            div.game-grid-subhead {{activeGame.owner.displayName}}'s {{activeGame.stakes}}, {{activeGame.gameType}} {{activeGame.gameFormat}}
            div
              span.strong-text When:
              |{{activeGame.dateString}} @ {{activeGame.timeString}}
            div
              span.strong-text Where:
              | {{activeGame.location}}
            div.info-body.multi-line {{activeGame.notes}}
            div(ng-show="!activeGame.pastGame")
              button.pure-button.push-sm#join-button(ng-click="join()" ng-disabled="userAttending" ng-class="{ 'button-success' : userAttending, 'pure-button-primary' : !userAttending }") {{joinButtonText()}}
              button.pure-button.pure-button-primary#cancel-button(ng-click="cancel()" ng-show="userAttending") Cancel Reservation
            div(ng-show="activeGame.pastGame")
              button.pure-button.button-error(disabled="true") Registration Closed
            div(ng-show="!activeGame.pastGame")
              label.light-label.pure-checkbox(for="emailOnJoin")
                input#emailOnJoin(type="checkbox", ng-model="currentUserSeat.notifyOnJoin")
                | &nbsp;Notify me when players join
            div(ng-show="!activeGame.pastGame")
              label.light-label.pure-checkbox(for="emailOnComment")
                input#emailOnComment(type="checkbox", ng-model="currentUserSeat.notifyOnComment")
                | &nbsp;Notify me when players comment
          div.game-grid
            div.game-grid-subhead.push-sm Comments
            div.row
              div.col-md-9
                span.roster-image.push-md
                  img(ng-src="{{currentUser.imageUrl}}")
                span
                  textarea(style="vertical-align: top; width: 75%; height: 50px; resize: vertical;", ng-model="$parent.commentText").push-md
              div.col-md-3.push-md
                button.pure-button.button-info(ng-click="comment()", ng-disabled="commentPosting")
                  span(ng-show="!commentPosting") Post
                  span(ng-show="commentPosting") Posting
            hr(ng-show="activeGame.comments.length > 0")
            table.user-table
              tr.is-center(ng-show="moreCommentsToShow()")
                td.pad-md(colspan="3")
                  button.button-showcomment(ng-click="showAllComments()") View All Comments
              tr.comment-row(ng-repeat="comment in visibleComments()")
                td.roster-image.push-md
                  img(ng-src="{{comment.user.imageUrl}}")
                td.comment-box
                  div.small-text.grey-text(style="line-height: 14px;") {{comment.user.displayName}} - {{comment.dateString}}
                  div.comment-text {{comment.text}}
                td
                  button.pure-button.button-plain.button-xsmall.left-sm(ng-show="comment.user._id == currentUser._id", ng-click="deleteComment(comment._id)") X
        div.col-md-6
          div.game-grid
            div.game-grid-subhead.push-md.row
              div.col-xs-9 Current Roster ({{activeGame.emptySeats}}&nbsp;/&nbsp;{{activeGame.seats}} Seats Remaining)
              div.col-xs-3 
                button.pure-button.button-info.button-small.icon-button.pull-right(ng-show="currentUserIsOwner && !activeGame.pastGame" ng-click="editLineup()")
                  span.glyphicon.glyphicon-pencil(style="font-size: 12px;")
                  span &nbsp;Edit Lineup
            table.user-table
              tr(ng-repeat="seat in activeGame.seatCollection | filter:filledSeatFilter")
                td.roster-image.push-md
                  img(ng-src="{{seat.user.imageUrl || '/images/anon-user.png'}}")
                td {{seat.user.displayName || seat.name}}
                td.pad-left-md
                  button.pure-button.button-error.button-xsmall(ng-hide="!currentUserIsOwner || activeGame.pastGame", ng-click="kick(seat._id)") X
          div.game-grid(ng-hide="emptySeats()")
            div.game-grid-subhead.push-md Waitlist
            div(ng-show="activeGame.waitListCollection.length == 0") The waitlist is empty
            table.user-table
              tr(ng-repeat="seat in activeGame.waitListCollection")
                td.roster-image.push-md
                  img(ng-src="{{seat.user.imageUrl || '/images/anon-user.png'}}")
                td {{seat.user.displayName || seat.name}}
                td.pad-left-md
                  button.pure-button.button-error.button-small.icon-button(ng-hide="!currentUserIsOwner || activeGame.pastGame", ng-click="kick(seat._id)") X
          div.game-grid(ng-show="currentUserIsOwner && !activeGame.pastGame")
            div.game-grid-subhead.push-md Add Players
            table.user-table
              tr(ng-repeat="player in currentUser.playerPool | filter:addablePlayer")
                td.roster-image.push-md
                  img(ng-src="{{player.user.imageUrl}}")
                td {{player.user.displayName}}
                td.pad-left-md
                  button.pure-button.button-success.button-small.icon-button(ng-click="add(player.user._id)", style="padding-bottom: 8px;")
                    span.glyphicon.glyphicon-plus
              tr
                td.roster-image.push-md
                  img(src="/images/anon-user.png")
                td
                  input(type="text", placeholder="Player Name", ng-model="tempPlayerText")
                td.pad-left-md
                  button.pure-button.button-success.button-small.icon-button(ng-click="add(null, tempPlayerText)", style="padding-bottom: 8px;")
                    span.glyphicon.glyphicon-plus
              
